html, body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    overflow: hidden;
    font-family: "Roboto Mono", monospace;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
  